<ion-view class="grey-content" background="www/img/background.jpg" title="Admin Login">
    <ion-content>
        <div background="www/img/background.jpg">
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="username" type="text" placeholder="Username" />
                </label>
                
                <label class="item item-input">
                    <input ng-model="password" type="password" placeholder="Password" />
                </label>
            </div>
            <div class="padding-left padding-right">
                <div class="button-bar">
                    <a class="button" ng-click="login(username, password)">Login</a>
                    <!--<a class="button" ng-click="register(username, password)">Register</a>
                                        <a class="button" ng-click="retrive(username, password)">retrive</a>
-->
                </div>
                 <ion-list>
         <!-- add a section header -->
        <!-- <ion-item class="item-divider">List of Objects</ion-item>
            <!-- iterate thru each item in the list, use $index as item identifier -->
            <!--<ion-item ng-repeat="item in itemsList track by $index">
            {{$index}} - {{item.name}} - {{item.message}}
            </ion-item> -->
      </ion-list>
            </div>
            
            
            
        </div>
        
    </ion-content>
</ion-view>